<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

</head>

<%- include('partials/_nav') %>

<body>

  <main class="container">

    <!-- SECTION SEARCH -->
    <div class="search">
      <form class="search-form" action="/api/searches/" method="GET">
        <label for="searchType" >Search By:</label>
        <select name="searchType" id="searchType" style="margin: 1em;">
          <option value="title">By Title</option>
          <option value="artist">By Artist</option>
        <input class="form-control me-2" type="text" name="searchText" placeholder="Search" style="margin: 1em;" aria-label="Search">
        <label for="searchOrder">Sort By:</label>
        <select name="searchOrder" style="margin: 1em;" id="searchOrder">
          <option value="lowPrice">Lowest Price</option>
          <option value="highPrice">Highest Price</option>
        </select>
        <button class="search-button" type="submit" style="margin: 1em;"> Search</button>
      </form>
    </div>


    <!-- SECTION ITEMS -->
    <section class="items-container">
      <div class="container-fluid col-lg-12">
        <div class="row">
          <% for (let item of items) { %>
            <!-- CARD ELEMENT -->
            <div class="card">
              <% if (item.is_sold) { %>
                <h2 class="sold-sign">SOLD</h2>
              <% } %>
              <img src="<%= item.image_url %>" class="card-img-top picture-size" alt="item">
              <div class="card-text">
                <ul class="list-group list-group-flush"></ul>
                <h3 class="card-title"> <%= item.title %> </h5>
                <p class="card-text"> <i> <%= item.artist %> </i> </p>
                <p class="card-text"> <%= item.description %> </p>
                <p class="card-text"> $<%= item.price %></p>
              </div>
            </div>
        <% } %>

        </div>
      </div>
    </section>
  </main>
</body>
</html>
