<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

</head>

<!-- Top nav bar (fixed) -->
<nav id="header-outer" class ="header-outer">
  <div class="gallery"> The <br> 525  </div>
  <div id="header-inner" class="header-inner">
    <div id="login-button">
      <div class="navbar-nav">
        <a class="login-link" href="/">Art Gallery</a>
      </div>
    </div>
       

      <div >
        <% if (user && user.username) { %>
          <form method="POST" action="/logout" class="form-inline">
            <div class="logout">
              <label>Logged In As: <%= user.username %></label>
              <button type="submit" class="logout-button" style="margin: 1em">Logout</button>
            </div>
          </form>
        <% } else { %>
          <div id="login-button">
            <div class="navbar-nav">
              <a class="login-link" href="/login">Login</a>
            </div>
          </div>
          <% } %>
        <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
      </div>

    </div>
  </nav>



<body>

  <main class="container">


    <!-- SECTION SEARCH -->
    <div class="search">
      <!-- QUESTION unsure about specific route, do we include Api inside url parameters?? -->
      <form class="search-form" action="/api/searches/" method="GET">
        <!-- <input type="hidden" name="searchType" value="title"> -->
        <label for="searchType">Search By:</label>
        <select name="searchType" id="searchType">
          <option value="title">By Title</option>
          <option value="artist">By Artist</option>
          <option value="maxPrice">Max Price</option>
          <option value="minPrice">Min Price</option>
        <input class="form-control me-2" type="text" name="searchText" placeholder="Search" aria-label="Search">
        <label for="searchOrder">Sort By:</label>
        <select name="searchOrder" id="searchOrder">
          <option value="lowPrice">Lowest Price</option>
          <option value="highPrice">Highest Price</option>
        </select>
        <button class="btn btn-outline-danger button-width" type="submit"><i class="fas fa-search"></i> Search</button>
      </form>
    </div>


    <!-- SECTION LISTINGS -->
    <section class="listings">
      <div class="container-fluid col-lg-12">
        <div class="row">
          <% for (let item of items) { %>
            <!-- CARD ELEMENT -->
            <div class="card">
              <% if (item.is_sold) { %>
                <h2 class="sold-sign">SOLD</h2>
              <% } %>
              <img src="<%= item.image_url %>" class="card-img-top picture-size" alt="item">

              <div class="card-body">
                <ul class="list-group list-group-flush"></ul>
                <h3 class="card-title"> <%= item.title %> </h5>
                <p class="card-text"> <i> <%= item.artist %> </i> </p>
                <p class="card-text"> <%= item.description %> </p>
              </div>

                <li class="list-group-item">$<%= item.price %></li>
              <!-- <form action="/api/searches/ <%= items.id %>/favourite" method="POST">
                <li id="favourite-button" class="list-group-item"><button type="submit">Favourite</button>
                  <% if (item.isFavourite) { %>
                    <i class="fas fa-heart activeHeartIcon"></i>
                  <% } else { %>
                  <i class="fas fa-heart"></i>
                  <% } %>
                  </li>
              </form> -->
              </ul>
              <div class="card-body">

                <!-- <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
        <% } %>

        </div>
      </div>
    </section>
  </main>
</body>
</html>
